In [10]:
# Load packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

## Heroin Related Overdose Death By County Data 2015- 2020

In [11]:
# Function to load a list of csv files 2015-2020
def load_dataset(name_path_dict):
    ''' Take in a dictionary with dataframe name and its CSV file paths and load into a dict of dataframes'''
    result_dict = {}
    for name, path in name_path_dict.items():
        result_dict[name] = pd.read_csv(path, skiprows=2)
    return result_dict

In [17]:
path_dict = {
    "data_2015":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2015_01.10.2022.csv",
    "data_2016":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2016_01.10.2022.csv",
    "data_2017":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2017_01.10.2022.csv",
    "data_2018":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2018_01.10.2022.csv",
    "data_2019":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2019_01.09.2022.csv",
    "data_2020":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2020_01.09.2022.csv"}

# Load into dictionary of dataframes dfs
dfs = load_dataset(path_dict)

In [18]:
# Check values in dfs
dfs["data_2015"]

,County,Rates,95% LCL,95% UCL,Counts
0,Alameda,0.66,0.51,1.18,11.0
1,Alpine,0.00,NaN,879.40,0.0
2,Amador,0.00,NaN,19.07,0.0
3,Butte,0.44,0.48,3.27,1.0
4,Calaveras,3.28,3.57,20.14,1.0
...,...,...,...,...,...
57,Ventura,3.00,1.95,4.48,26.0
58,Yolo,1.99,1.76,5.41,4.0
59,Yuba,1.07,1.17,8.83,1.0
60,Source: CDPH Center for Health Statistics and ...,NaN,NaN,NaN,NaN
61,Prepared by: California Department of Public H...,NaN,NaN,NaN,NaN

In [19]:
# Clean up the dataframes in dfs
# Delete last 2 rows and 95% LCL and 95% UCL column
for key, value in dfs.items():
    dfs[key] = dfs[key][["County","Rates","Counts"]]
    dfs[key].drop(dfs[key].index[-2:], inplace = True)

/opt/conda/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
dfs["data_2016"]

             County  Rates  Counts
0           Alameda   0.38     7.0
1            Alpine   0.00     0.0
2            Amador   8.57     3.0
3             Butte   1.39     3.0
4         Calaveras   3.33     1.0
5        California   1.44   595.0
6            Colusa   0.00     0.0
7      Contra Costa   1.21    14.0
8         Del Norte   0.00     0.0
9         El Dorado   2.16     3.0
10           Fresno   0.19     2.0
11            Glenn   0.00     0.0
12         Humboldt   5.55     7.0
13         Imperial   0.60     1.0
14             Inyo   7.99     1.0
15             Kern   1.60    15.0
16            Kings   0.00     0.0
17             Lake   2.31     2.0
18           Lassen   2.21     1.0
19      Los Angeles   1.18   134.0
20           Madera   0.46     1.0
21            Marin   3.08     6.0
22         Mariposa   0.00     0.0
23        Mendocino   6.21     4.0
24           Merced   1.27     3.0
25            Modoc   0.00     0.0
26             Mono   0.00     0.0
27         Monterey   0.95     5.0
28             Napa   1.64     2.0
29           Nevada   2.60     2.0
30           Orange   2.60    84.0
31           Placer   1.04     4.0
32           Plumas   0.00     0.0
33        Riverside   2.00    48.0
34       Sacramento   0.80    12.0
35       San Benito   2.22     1.0
36   San Bernardino   0.52    11.0
37        San Diego   2.21    79.0
38    San Francisco   3.21    33.0
39      San Joaquin   0.88     7.0
40  San Luis Obispo   2.75     8.0
41        San Mateo   0.28     2.0
42    Santa Barbara   3.25    15.0
43      Santa Clara   1.01    21.0
44       Santa Cruz   5.24    14.0
45           Shasta   1.59     3.0
46           Sierra   0.00     0.0
47         Siskiyou   8.94     3.0
48           Solano   0.66     3.0
49           Sonoma   1.12     5.0
50       Stanislaus   0.38     2.0
51           Sutter   0.00     0.0
52           Tehama   2.27     1.0
53          Trinity   6.70     1.0
54           Tulare   0.20     1.0
55         Tuolumne   2.77     1.0
56          Unknown    NaN     0.0
57          Ventura   1.92    16.0
58             Yolo   0.61     1.0
59             Yuba   2.92     2.0

In [23]:
# Add Year column into each dataframe
x = 2015
for key,value in dfs.items():
    dfs[key]["Year"] = x
    x += 1

<ipython-input-23-6e8940c55300>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs[key]["Year"] = x

In [24]:
# Concatenate all year into one dataframe
all_df = pd.concat(dfs)
all_df

                 County  Rates  Counts  Year
data_2015 0     Alameda   0.66    11.0  2015
          1      Alpine   0.00     0.0  2015
          2      Amador   0.00     0.0  2015
          3       Butte   0.44     1.0  2015
          4   Calaveras   3.28     1.0  2015
...                 ...    ...     ...   ...
data_2020 55   Tuolumne   0.00     0.0  2020
          56    Unknown    NaN    24.0  2020
          57    Ventura   4.04    33.0  2020
          58       Yolo   1.08     2.0  2020
          59       Yuba   3.29     3.0  2020

[360 rows x 4 columns]

In [25]:
type(all_df)
all_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 360 entries, ('data_2015', 0) to ('data_2020', 59)
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  360 non-null    object
 1   Rates   354 non-null    float64
 2   Counts  360 non-null    float64
 3   Year    360 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.7+ KB

In [27]:
# Save into a CSV file for next step (cleaning, visualization)
all_df.to_csv("Data/Heroin_Deaths_by_County_2015-2020.csv", index=False)

## Prescription Opiod related Overdose Data 2015 - 2020

In [33]:
path_dict = {
    "prescription_2015":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2015_01.10.2022.csv",
    "prescription_2016":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2016_01.10.2022.csv",
    "prescription_2017":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2017_01.10.2022.csv",
    "prescription_2018":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2018_01.10.2022.csv",
    "prescription_2019":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2019_01.09.2022.csv",
    "prescription_2020":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2020_01.09.2022.csv"}

# Load into dictionary of dataframes dfs
prescription_dfs = load_dataset(path_dict)

In [34]:
# Check values
prescription_dfs["prescription_2015"]

,County,Rates,95% LCL,95% UCL,Counts
0,Alameda,2.73,2.02,3.64,50.0
1,Alpine,0.00,NaN,879.40,0.0
2,Amador,3.75,2.04,23.52,2.0
3,Butte,6.51,3.67,11.22,16.0
4,Calaveras,14.25,5.17,34.93,7.0
...,...,...,...,...,...
57,Ventura,2.88,1.95,4.21,29.0
58,Yolo,4.48,2.18,8.81,9.0
59,Yuba,5.07,3.62,15.18,3.0
60,Source: CDPH Center for Health Statistics and ...,NaN,NaN,NaN,NaN
61,Prepared by: California Department of Public H...,NaN,NaN,NaN,NaN

In [36]:
# Clean up each dataframe
for key,value in prescription_dfs.items():
    # removing 95% LCL and 95% UCL columns
    prescription_dfs[key] = prescription_dfs[key][["County","Rates","Counts"]]

    #remove last 2 lines
    prescription_dfs[key].drop(prescription_dfs[key].index[-2:], inplace = True)

/opt/conda/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
# Check values in dfs
prescription_dfs["prescription_2015"]

             County  Rates  Counts
0           Alameda   2.73    50.0
1            Alpine   0.00     0.0
2            Amador   3.75     2.0
3             Butte   6.51    16.0
4         Calaveras  14.25     7.0
5        California   3.35  1401.0
6            Colusa   0.00     0.0
7      Contra Costa   3.21    38.0
8         Del Norte   4.41     1.0
9         El Dorado   2.70     5.0
10           Fresno   6.01    55.0
11            Glenn   2.59     1.0
12         Humboldt  12.59    18.0
13         Imperial   2.64     4.0
14             Inyo   0.00     0.0
15             Kern   6.12    53.0
16            Kings   3.42     5.0
17             Lake  26.92    19.0
18           Lassen  10.51     4.0
19      Los Angeles   1.91   205.0
20           Madera   5.71    10.0
21            Marin   1.50     3.0
22         Mariposa   4.56     1.0
23        Mendocino   8.38     7.0
24           Merced   8.02    19.0
25            Modoc   7.16     1.0
26             Mono   0.00     0.0
27         Monterey   1.34     6.0
28             Napa   3.95     5.0
29           Nevada   1.30     2.0
30           Orange   5.41   186.0
31           Placer   3.08    12.0
32           Plumas  31.30     4.0
33        Riverside   2.82    70.0
34       Sacramento   1.74    28.0
35       San Benito   3.43     2.0
36   San Bernardino   1.00    21.0
37        San Diego   4.93   179.0
38    San Francisco   7.55    74.0
39      San Joaquin   4.61    35.0
40  San Luis Obispo   7.49    22.0
41        San Mateo   2.10    18.0
42    Santa Barbara   4.66    21.0
43      Santa Clara   2.31    48.0
44       Santa Cruz   5.65    16.0
45           Shasta   4.86     9.0
46           Sierra   0.00     0.0
47         Siskiyou  16.32     7.0
48           Solano   2.94    13.0
49           Sonoma   3.72    21.0
50       Stanislaus   3.45    18.0
51           Sutter   0.00     0.0
52           Tehama   2.87     3.0
53          Trinity   6.95     2.0
54           Tulare   0.70     3.0
55         Tuolumne  20.21    11.0
56          Unknown    NaN     0.0
57          Ventura   2.88    29.0

In [38]:
# Add Year column into each dataframe
x = 2015
for key,value in prescription_dfs.items():
    prescription_dfs[key]["Year"] = x
    x += 1

<ipython-input-38-285043d085ed>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prescription_dfs[key]["Year"] = x

In [41]:
# Concatenate all year into one dataframe
all_prescription_df = pd.concat(prescription_dfs)
all_prescription_df

                         County  Rates  Counts  Year
prescription_2015 0     Alameda   2.73    50.0  2015
                  1      Alpine   0.00     0.0  2015
                  2      Amador   3.75     2.0  2015
                  3       Butte   6.51    16.0  2015
                  4   Calaveras  14.25     7.0  2015
...                         ...    ...     ...   ...
prescription_2020 55   Tuolumne   2.64     1.0  2020
                  56    Unknown    NaN    99.0  2020
                  57    Ventura  14.60   120.0  2020
                  58       Yolo   2.96     8.0  2020
                  59       Yuba   7.35     6.0  2020

[358 rows x 4 columns]

In [42]:
type(all_prescription_df)
all_prescription_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 358 entries, ('prescription_2015', 0) to ('prescription_2020', 59)
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  358 non-null    object
 1   Rates   352 non-null    float64
 2   Counts  358 non-null    float64
 3   Year    358 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 14.5+ KB

In [43]:
# Save into a CSV file for next step (cleaning, visualization)
all_prescription_df.to_csv("Data/Presciption_Opiods_Deaths_by_County_2015-2020.csv", index=False)